:where(.container_otp, form, .input-field_otp) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_otp {
    background: #fff;
    padding: 30px 65px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.container_otp header {
    height: 65px;
    width: 65px;
    background: #4070f4;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
}

.container_otp h2 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
}

form .input-field_otp {
    flex-direction: row;
    column-gap: 10px;
}

.verified {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fverified&psig=AOvVaw3khLc2KrvbYx016tgVnZK2&ust=1682942552535000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCKiejtvH0f4CFQAAAAAdAAAAABAE");
    /* background-color: green; */
}

/* form .input-field_otp:hover{
background-image: none; */
/* } */
.input-field_otp input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.input-field_otp input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-field_otp input::-webkit-inner-spin-button,
.input-field_otp input::-webkit-outer-spin-button {
    display: none;
}

form button {
    margin-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background: #6e93f7;
    transition: all 0.2s ease;
}

form button.active {
    background: #4070f4;
    pointer-events: auto;
}

form button:hover {
    background: #0e4bf1;
}